@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@700&display=swap');
:root {
    --cor-principal:#080202;
    --cor-secundaria:#F9F5E7;
    
    --cor-extra:#b8b4b086;

    --font-primaria:'Sarala', sans-serif;
    --font-secundaria:'Righteous', cursive;
}
* {
    margin: 0;
    padding: 0;
}
body{
    background: radial-gradient(farthest-corner at right bottom,#37306B,#66347F,#9E4784,#D27685);
    padding: 15px;
    font-family: var(--font-primaria);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.canvas {
    width: 700px;
    height: 700px;
    padding: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 5%;
    background:var(--cor-extra);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.459);
    border-radius: 10px;
    width: 70%;
    height: 35rem;
    padding:30px;
}
.container h1 {
    font-family: var(--font-secundaria);
}
.containerInputs {
    font-size: x-large;
}
.inputs {
    border: none;
    background: var(--cor-secundaria);
    border-radius: 05px;
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    color: var(--cor-principal);
    cursor: pointer;
}
.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  color: var(--cor-principal);;
  transition: all 0.5s;
  position: relative;
  border-radius: 05px;
  border: none;
}
.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}
.btn:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 05px;
    transform: scale(1.2,1.2);
  }
  .btn:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }
@media screen and (max-width: 1018px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 70%;
        height: 70%;
    }
    .canvas {
        width: 90%;
        height: 90%;
    }
    .containerInputs {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 70%;
    }
}